@{       
    try
    {
        ViewBag.ten = Session["TEN"].ToString();
        ViewBag.avatar = Session["AVATAR"].ToString();
        ViewBag.maKH = Session["MAKH"].ToString();
    }
    catch
    {

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/styleAdmin.css" />
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="container d-flex  py-2">
            <p class="text-white-50 me-auto m-0">Have a good day!</p>
            @if (ViewBag.maKH != null)
            {
                <div class="me-3 d-flex">
                     <img src="/Images/@ViewBag.avatar" alt="@ViewBag.ten" style="width: 25px; height: 25px; border-radius: 25px" />
                     <div class="dropdown ms-1">
                        <a class="dropdown-toggle text-decoration-none text-white-50" href="#" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            Chào @ViewBag.ten !
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/Site/DangXuat">Đăng xuất</a></li>
                        </ul>
                    </div>
            
                </div>
            }
            else {
                <div class="me-3">
                    <a href="/Site/DangKy" class="text-decoration-none text-white-50 me-2 hover-white">Đăng ký</a>
                    <a href="/Site/DangNhap" class="text-decoration-none text-white-50 hover-white">Đăng nhập</a>
                </div>
            }

            <a href="/Site/GioHang" class="text-decoration-none text-white"><i class="bi bi-cart"></i>(0)</a>
        </div>
    </div>
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fs-2 fw-bolder text-origin" href="/">MộcPhúc.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex mx-auto w-40">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-nav fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Site/GioiThieu">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SẢN PHẨM
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/SANPHAM/Categories">Tất cả</a></li>

                            <li><a class="dropdown-item" href="/SANPHAM/Categories/BA">Bàn</a></li>

                            <li><a class="dropdown-item" href="/SANPHAM/Categories/GH">Ghế</a></li>

                            <li><a class="dropdown-item" href="/SANPHAM/Categories/TU">Tủ</a></li>

                            <li><a class="dropdown-item" href="/SANPHAM/Categories/GI">Giường</a></li>

                            <li><a class="dropdown-item" href="/SANPHAM/Categories/KE">Kệ</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Site/LienHe">LIÊN HỆ</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!--//////////////////////////////////////////////////////////////////-->
    <div class="container-fluid body-content p-0">
        @RenderBody()
    </div>

    <!--//////////////////////////////////////////////////////////////////-->
    <div class="footer container-fluid text-white-50 bg-dark mt-5  py-4 px-5">
        <div class="row px-4">
            <div class="col-6">
                <h3 class="text-origin">Về Chúng Tôi</h3>
                <p class="pe-3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged.
                </p>
                <ul class="d-flex p-0">
                    <li class="me-2"><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li class="me-2"><a href=""><i class="bi bi-twitter"></i></a></li>
                    <li class="me-2"><a href=""><i class="bi bi-instagram"></i></a></li>
                    <li class="me-2"><a href=""><i class="bi bi-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="text-origin">Đường Dẫn</h3>
                <ul class="p-0">
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Sản Phẩm</a></li>
                    <li><a href="#">Tin Tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="text-origin">Thông Tin Liên Hệ</h3>
                <ul class="p-0 communication">
                    <li class="d-flex">
                        <span class="me-2"><i class="bi bi-geo-alt-fill"></i></span>
                        <span class="mb-3">
                            Số 40 ngõ Ngọc Sơn<br />
                            Tổ 20 Hòn Nghê 2, Nha Trang<br />
                            Việt Nam
                        </span>
                    </li>
                    <li class="d-flex">
                        <span class="me-2"><i class="bi bi-telephone-fill"></i></span>
                        <p>
                            <a href="#">+84 708 488 401</a>
                            <br />
                            <a href="#">+84 935 703 414</a>
                        </p>
                    </li>
                    <li class="d-flex">
                        <span class="me-2"><i class="bi bi-envelope-fill"></i></span>
                        <p><a href="#">mocphuc@gmail.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <p class="px-4">&copy; @DateTime.Now.Year - Thành phố Nha Trang</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
</body>
</html>


