@model IEnumerable<BTNhom_MocPhuc.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONGTON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIABAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYTHEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAISP.TENLSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUONGTON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYTHEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAISP.TENLSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MASP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MASP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MASP })
        </td>
    </tr>
}

</table>
